<html>
<head>
    <link type="text/css" rel="stylesheet" href="lib/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="lib/css/bootstrap-slider.css"/>
    <link type="text/css" rel="stylesheet" href="src/css/orchestra.css"/>

    <script data-main="app" type="text/javascript" src="lib/require.js"></script>

    <script type="text/template" id="navTemplate">
        <nav class="navbar navbar-default" role="navigation" id="orchestra_navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Orchestra3D</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" id="newProjectButton">New</a></li>
                                <li><a href="#">Open Project...</a></li>
                                <li><a href="#">Demos...</a></li>
                                <li><a href="#">Browse...</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Export STL...</a></li>
                                <li><a href="#">Export PDF...</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="New Component..." autocomplete="off" id="componentChooser">
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right" id="nav-loggedin-area">
                        <!-- Placeholder div for the title-entry input -->
                        <span id="title_entry_area"></span>

                        <!-- Placeholder div for the user options, depending on login state -->
                        <span id="user_menu"></span>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </script>

    <script type="text/template" id="contextMenu">
        <div class="context-menu">
        <ul class="dropdown-menu" role="menu">
        <li class="comp_Name"><span><%= componentName %></span></li>
        <li><a tabindex="-1"><input type="text" placeholder="Component Name" value="<%= componentPrettyName %>"/></a></li>
        <li class="divider"></li>
        <li><a class="previewToggle" tabindex="-1"><span class="<% if (preview === true) {print('glyphicon glyphicon-ok');}%> icongutter"></span>Preview</a></li>
        </ul>
        </div>
    </script>

    <script type="text/template" id="user_menu_template_logged_in">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= username %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Precision</a></li>
                <li><a href="#">Another option...</a></li>
                <li class="divider"></li>
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><a href="#">Log Out</a></li>
                <li class="divider"></li>
                <% _.each(projects,function(project){ %>
                    <li class="openProjectLink"><a href="#" id="<%= project.id %>"><%= project.title %></a></li>
                <% }); %>
            </ul>
        </li>
    </script>
    <script type="text/template" id="user_menu_template_logged_out">
        <li id="login_link"><a href="#">Log In</a></li>
        <li id="signup_link"><a href="#">Sign Up</a></li>
    </script>
    <script type="text/template" id="project_title_entry_template">
        <li>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Project Title" autocomplete="off" id="titleChooser" value="<%= project.title %>">
                </div>
            </form>
        </li>
    </script>


</head>

<body>
<div id="navContainer"></div>

</body>
</html>